<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calenlink</title>
    <link rel="stylesheet" href="stylesheets/home.css" />
    <link rel="stylesheet" href="stylesheets/login.css" />
  </head>

  <body>
    <%- include ('../partials/header')%>
    <main><%-body %></main>
    <%- include ('../partials/footer')%>
  </body>
</html>
