<% layout('layouts/boilerplate')%>

<section id="home" class="hero">
  <div class="hero-content">
    <h1>Welcome to Calenlink</h1>
    <p>Simplify your appointment scheduling process.</p>
    <form action="/register">
      <button class="btn cta">Get Started</button>
    </form>
  </div>
</section>
