<% layout('layouts/boilerplate')%>

<h1>Scheduled Events</h1>
<!-- <a href="/newEvents" class="btn">New Event</a> -->

<main>
  <div class="event">
    <h2>Event Title</h2>
    <p>Date: January 1, 2024</p>
    <p>Time: 2:00 PM - 4:00 PM</p>
    <p>Location: Meeting Room 1</p>
    <!-- Add more event details-->
  </div>

  <!-- Repeat the event section for each scheduled event -->
</main>
