<% layout('layouts/boilerplate')%>

<!-- Login Form Container -->
<div class="login-container">
  <div class="login-box">
    <!-- Login Form -->
    <form action="">
      <h2>Login</h2>

      <!-- Username Input -->
      <div class="input-container">
        <label for="username">Username:</label>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Enter your username"
          required
        />
      </div>

      <!-- Password Input -->
      <div class="input-container">
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Enter your password"
          required
        />
      </div>

      <!-- Login Button -->
      <button class="btn" type="submit">Login</button>
    </form>

    <!-- Forgot Password Link -->
    <div class="forgot-password">
      <a href="#">Forgot your password?</a>
    </div>
  </div>
</div>
