<% layout('layouts/boilerplate')%>

<!-- register Form Container -->
<div class="register-container">
  <div class="register-box">
    <!-- register Form -->
    <form action="">
      <h2>Register</h2>

      <!-- Username Input -->
      <div class="input-container">
        <label for="username">Username:</label>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Enter your username"
          required
        />
      </div>

      <!-- Password Input -->
      <div class="input-container">
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Enter your password"
          required
        />
      </div>

      <!-- register Button -->
      <button class="btn" type="submit">Register</button>
    </form>
  </div>
</div>
